body{
  box-sizing: border-box;
  margin: 0;
  padding:0;
  width:100%;
}

.container{
  width:100%;
}

.main-dag{
  display:flex;
  justify-content: space-evenly;
  background-color: black;
  height:600px;
}

.main-dag img{
  margin:40px 0px;
}

 .title{
  font-size: 50px;
  color:white;
  margin-top:200px;
  line-height:60px;
}

.title1{
  font-size: 45px;
  margin:40px 35%;
  /* width:100%; */
}

.line{
  border-bottom: 1px solid black;
  margin-left:100px;
  margin-right:100px;
}


.search{
  height: 80px;
  border-radius: 10px;
  margin: 50px auto 50px;
  display:flex;
}

.users{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  row-gap: 100px;
}


.search{
  background-color: #d0cde1;
  height: 80px;
  width: 600px;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 100px;
  display: flex;
}

.searchInput{
  padding-left: 10px;
  width: 500px;
  height: 50px;
  border-radius: 10px;
  margin: 15px 20px 10px 10px;
  font-size: 24px;
  border: none;
}
 

.devgroup{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  row-gap: 70px;
  column-gap: 10px;
}




.formdata{
  display:flex;
}

.formdata input{
  display:flex;
  height: 50px;
  width:500px;
  border-radius: 10px;
  margin: 15px 20px 10px 100px;
  font-size: 24px;
  border:1px solid black;
}


.formdata label{
  margin-left:100px;
}

.formdata .btns{
  margin-top:20px;
  margin-left:40px;
}

#btn1{
  color:white;
  background-color: green;
  padding:10px;
}

#btn2{
  color:white;
  background-color: red;
  padding:10px 15px;
}


.searchIcon button{
  height: 50px;
  width: 50px;
  cursor: pointer;
}

.avatar{
  border-radius:50%;
  width:300px;
}

.users{
  background-color: white;
  display:flex;
}

.users h1{
  margin-left:20px;
}

.userlink{
  margin-left:10px;
  margin-top:5px;
}

.repolink{
  margin-left:10px;
  margin-top:28px;
}

.footer{
  margin: 50px 30% 20px 30%;
}

.footer button{
  padding:20px;
  border-radius:10px;
  margin-left:200px;
  background-color:black;
  color:white;
  font-size:20px;
}

.footer h2{
  margin-left:50px;
}

.footer-final {
  /* width: 100%; */
  background-color: black;
  color: white;
  text-align: center;
  height:50px;
  font-size:20px;
  position: fixed;
  bottom: 0;
  width: 100%;

}

.main-profile{
  display:flex;
  margin-top:100px;
   margin-left:300px; 
}

.main-container{
  background-color:#d0cde1;
  height:600px;
}

.profile-info{
    margin-left:200px;
    margin-top:25px;
}

.profiles{
  display:flex;
  /* width:30px; */
  height:50px;
}

.profiles img{
  margin-right:20px;
  height:35px;
  width:35px;
}

.header{
  display:flex;
  background-color:black;
  color:white;
  justify-content:space-evenly;
}

.repos{
  color:dodgerblue;
}

.dev-image{
  margin-top:10px;
  width: 60px;
  height:60px;
  border-radius:50%;
}

.repo{
  background-color: white;
  display:flex;
  margin-left:200px;
  margin-right: 100px;
  border-bottom: 1px solid black;
}
