body{
  box-sizing: border-box;
  margin: 0;
  padding:0;
}

.main-dag{
  display:flex;
  justify-content: space-evenly;
  background-color: black;
  height:600px;
}

.main-dag img{
  margin:40px 0px;
}

.title{
  font-size: 50px;
  color:white;
  margin-top:200px;
  line-height:60px;
}

.title1{
  font-size: 50px;
  margin:40px 35%;
}

.search,.users{
  background-color: #d0cde1;
  height: 80px;
  width: 800px;
  border-radius: 10px;
  margin: 50px auto 50px;
  display: flex;
}



input[type=text] {
  padding-left: 10px;
  width: 700px;
  height: 50px;
  border-radius: 10px;
  margin: 15px 20px 10px 10px;
  font-size: 24px;
  border: none;
}



.searchIcon button{
  border:none;
  background-color: #d0cde1;
  width:35px;
  cursor: pointer;
}

.users{
  background-color: white;
  display:flex;
}

.users h1{
  margin-left:20px;
}

.userlink{
  margin-left:10px;
  margin-top:25px;
}

.footer{
  margin: 50px 37% 20px;
}

.footer button{
  padding:20px;
  border-radius:10px;
  margin-left:160px;
  background-color:black;
  color:white;
  font-size:20px;
}

.footer-final {
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  height:50px;
  font-size:20px;
}

.main-profile{
  display:flex;
  margin-top:100px;
   margin-left:300px; 
}

.main-container{
  background-color:#d0cde1;
  height:600px;
}

.profile-info{
    margin-left:200px;
    margin-top:25px;
}

.profiles{
  display:flex;
  width:30px;
  height:50px;
}

.profiles img{
  margin-right:20px;
}

.header{
  display:flex;
  background-color:black;
  color:white;
  justify-content:space-evenly;
}

.repos{
  color:dodgerblue;
}

.repo{
  background-color: white;
  display:flex;
  margin-left:200px;
  margin-right: 100px;
  border-bottom: 1px solid black;
}

